<template>
  <div class="mx-auto space-y-4">
    <h2 class="text-2xl font-bold text-gray-900 mb-4 text-lg dark:text-white">
      Add Address
    </h2>
    <form @submit.prevent="submitForm">
      <div class="mb-4">
        <label for="state" class="text-sm font-medium text-gray-500 dark:text-gray-400">
          State
        </label>
        <input type="text" id="state" name="state"
               placeholder="Enter your state"
               class="block w-full px-3 py-2 rounded-lg text-gray-900 bg-gray-50 border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
               required>
      </div>
      <div class="mb-4">
        <label for="district" class="text-sm font-medium text-gray-500 dark:text-gray-400">
          District
        </label>
        <input type="text" id="district" name="district"
               placeholder="Enter your district"
               class="block w-full px-3 py-2 rounded-lg text-gray-900 bg-gray-50 border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
               required>
      </div>
      <div class="mb-4">
        <label for="street-name" class="text-sm font-medium text-gray-500 dark:text-gray-400">
          Street Name
        </label>
        <input type="text" id="street-name" name="street-name"
               placeholder="Enter your street name"
               class="block w-full px-3 py-2 rounded-lg text-gray-900 bg-gray-50 border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
               required>
      </div>
      <div class="mb-4">
        <label for="street-number" class="text-sm font-medium text-gray-500 dark:text-gray-400">
          Street Number
        </label>
        <input type="number" id="street-number" name="street-number"
               placeholder="Enter your street number"
               class="block w-full px-3 py-2 rounded-lg text-gray-900 bg-gray-50 border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
               required>
      </div>
      <div class="mb-4">
        <label for="house-number" class="text-sm font-medium text-gray-500 dark:text-gray-400">
          House Number
        </label>
        <input type="number" id="house-number" name="house-number"
               placeholder="Enter your house number"
               class="block w-full px-3 py-2 rounded-lg text-gray-900 bg-gray-50 border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
               required>
      </div>
      <div class="mb-4">
        <label for="door" class="text-sm font-medium text-gray-500 dark:text-gray-400">
          Door
        </label>
        <input type="text" id="door" name="door"
               placeholder="Enter your door"
               class="block w-full px-3 py-2 rounded-lg text-gray-900 bg-gray-50 border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        >
      </div>
      <button type="submit"
              class="w-full ml-auto items-center justify-center px-5 py-3 text-base text-amber-700 text-bold font-medium text-center text-gray-900 md:hover:text-orange-500 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        Save
      </button>
    </form>

  </div>

</template>

<script>
export default {
  name: "Address"
}
</script>

<style scoped>

</style>