<template>
  <div class=" mx-auto space-y-4">
    <h2 class="text-2xl font-bold text-gray-900 mb-4 text-lg dark:text-white">
      Change Password
    </h2>
    <form>
      <div class="mb-4">
        <label for="old-password" class="text-sm font-medium text-gray-500 dark:text-gray-400">
          Old Password
        </label>
        <input type="password" id="old-password" name="old-password"
               placeholder="old password"
               class="block w-full px-3 py-2 rounded-lg text-gray-900 bg-gray-50 border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
               required>
      </div>
      <div class="mb-4">
        <label for="new-password" class="text-sm font-medium text-gray-500 dark:text-gray-400">
          New Password
        </label>
        <input type="password" id="new-password" name="new-password"
               placeholder="new password"
               class="block w-full px-3 py-2 rounded-lg text-gray-900 bg-gray-50 border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
               required>
      </div>
      <button type="submit"
              class="w-full ml-auto items-center justify-center px-5 py-3 text-base text-amber-700 text-bold font-medium text-center text-gray-900 md:hover:text-orange-500 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        Save
      </button>
    </form>
  </div>

</template>

<script>
export default {
  name: "ChangePassword"
}

</script>

<style scoped>

</style>