<template>
  <div class="space-y-2">
    <h2 class="text-2xl font-bold text-gray-900 mb-4 text-lg dark:text-white">
      Meine Email
    </h2>
    <input type="text" id="subject" :value="myUserInfo.email"
           class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
           required="">

    <button
        class="w-full ml-auto items-center justify-center px-5 py-3 text-base text-amber-700 text-bold font-medium text-center text-gray-900 md:hover:text-orange-500 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
    >Save
    </button>
  </div>

</template>

<script setup>

import {computed} from "vue";
import {useJwtStore} from "@/store/oauth2Store/JwtStore";

const myUserInfo = computed(() => useJwtStore().userInfo)

</script>

<style scoped>

</style>