<template>
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <div class="px-4 py-5 sm:p-6">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-2xl font-bold text-gray-900 mb-4 text-lg dark:text-white">Full Name</h2>
        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">Test</span>
      </div>
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 sm:gap-y-10">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Email Address</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-white">Test</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Phone Number</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-white">Test</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Birthdate</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-white">Test</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Gender</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-white">Test</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Locale</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-white">Test</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Profile URL</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-white">Test</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Payment Method</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-white">Test</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">Creditworthiness</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-white">Test</dd>
        </div>
      </dl>
    </div>
  </div>
</template>

<script>
export default {
  name: "PersonalData"
}
</script>

<style scoped>

</style>