<template>
  <h2 class="mt-5 text-center text-3xl">General terms and conditions</h2>
  <h3 class="mt-3 text-center text-2xl">Welcome to MarsRental</h3>
  <div class="mx-3 sm-mx-60">

    <p class="mb-7 mt-5">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      <br>
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
      nec, pellentesque eu, pretium quis, sem.
      <br>
    </p>
    <hr>
    <br>
    <h3>Cookies:</h3>
    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
      justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      <br>
      Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
      justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      <br>
      Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
      feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum dolor:</h3>
    <p>
      Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
      dui. Etiam rhoncus.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum:</h3>
    <p>
      Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
      Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
      <br>
      Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue
      velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
      <br>
      Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies
      mi eu turpis hendrerit fringilla.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum dolor:</h3>
    <p>
      Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer
      ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum:</h3>
    <p>
      Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui.
      Aenean ut eros et nisl sagittis vestibulum.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum blub:</h3>
    <p>
      Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit
      risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci.
      <br>
      Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien,
      tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa.
      <br>
      Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In
      turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc,
      eu sollicitudin urna dolor sagittis lacus.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum dolor:</h3>
    <p>
      Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
      dui. Etiam rhoncus.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum:</h3>
    <p>
      Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
      Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
      <br>
      Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue
      velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
      <br>
      Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies
      mi eu turpis hendrerit fringilla.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum dolor:</h3>
    <p>
      Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer
      ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum:</h3>
    <p>
      Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui.
      Aenean ut eros et nisl sagittis vestibulum.
    </p>
    <br>
    <hr>
    <br>
    <h3>Lorem ipsum blub:</h3>
    <p>
      Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit
      risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci.
      <br>
      Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien,
      tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa.
      <br>
      Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In
      turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc,
      eu sollicitudin urna dolor sagittis lacus.
    </p>
    <br>
  </div>
</template>

<style scoped>
h3 {
  font-style: italic;
  font-weight: bold;

}
</style>