<template>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-bold text-center text-gray-900 dark:text-white">Contact us</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Our team is committed
        to process your requests as quickly as possible.</p>
      <form class="space-y-8" @submit.prevent="ratingPosting">
        <div>
          <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
          <input v-model="ratingCopy.username" type="email" id="email"
                 class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                 placeholder="Add your email" required="true">
        </div>
        <div>
          <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Comments</label>
          <input v-model="ratingCopy.feedbackText" type="text" id="subject"
                 class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                 placeholder="Add your Comment" required="true">
        </div>
        <button type="submit"
                class="uppercase px-5 py-3 text-base text-amber-500 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium inline-flex items-center justify-center text-bold font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 md:hover:text-orange-500 border border-gray-300 rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >Send comment
        </button>
      </form>
    </div>
  </section>
</template>

<script setup>
import {router} from "@/router";
import {computed, ref, watch} from "vue";
import {useRatingStore} from "@/store/ratingStore/ratingStore";

const props = defineProps(['rating'])

const ratingCopy = ref({})
const ratings = computed(() => props.rating)


watch(ratings, () => {
  ratingCopy.value = {
    ...(props.rating || {
      feedbackText: "",
      username: "",
      rating: "",
      carId: ""
    })
  }
}, {immediate: true})

const dialog = ref(false)

async function ratingPosting() {
  await useRatingStore().postRating(ratingCopy.value)
  dialog.value = false
}
</script>