<template>
  <article class="md:shrink-0">
    <header class="text-3xl mx-auto mt-3 max-w-screen-md flex justify-center mb-6 lg:mb-12">
      <div>
        <h2 class="mt-5 text-center text-3xl">Imprint</h2>
      </div>
    </header>
    <section class="box-border">
      <div class="row table clear-both mx-auto mt-3 max-w-screen-md flex justify-center mb-5 lg:mb-12">
        <div class="column float-left w-1/3 p-10 ">
          <p class="ml-1">
            <em class="font-bold">MarsRental</em>
            <br>
            represented by the managing directors:
            <br>
            Raul Aksan,
            <br> Mansur Bibulatov and
            <br>
            Stephan Riedel, BA
            <br>
            ADRESS 99/9/9
            <br>
            At-1110 Vienna
            <br>
            Phone: 0043 123456789-0
            <br>
            E-Mail: mars@rental.com
          </p>
        </div>
        <div class="column float-left w-1/3 p-10">
          <p class="ml-1">
            <em class="font-bold">Legal</em>
            <br>
            Company registration number:
            123456t
            <br>
            Commercial Register Court:
            Vienna Commercial Court
            <br>
            UID-Nr.:
            ATU 12345678
            <br>
            Chamber: WKO
          </p>
        </div>
        <div class="column float-left w-1/3 p-10">
          <p class="ml-1">
            <em class="font-bold">Ressorts</em>
            <br>
            <span>Fullstack: Raul Aksan</span>
            <br>
            <span>Backend: Mansur Bibulatov</span>
            <br>
            <span>Frontend: Stephan Sebastian Riedel, BA</span>
          </p>
        </div>
      </div>
    </section>
  </article>
</template>

<style scoped>
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>