<template>

  <section class="text-gray-700">
    <hero-section/>
    <gallery-section/>
    <price-table-section/>
    <service-section/>
    <testimonials-section/>
  </section>
  <hr>
</template>

<script setup>
import {onMounted} from "vue";
import {useCarStore} from "@/store/carStore/carStore";

onMounted(() => useCarStore().getAllCars())
import '@vuepic/vue-datepicker/dist/main.css';

// imports design Components
import HeroSection from "../../../src/components/design/HeroSection.vue";
import GallerySection from "@/components/design/GallerySection.vue";
import PriceTableSection from "@/components/design/PriceTableSection.vue";
import ServiceSection from "@/components/design/ServiceSection.vue";
import TestimonialsSection from "@/components/design/TestimonialsSection.vue";
</script>