<script setup>
import {computed, onMounted, ref, watch} from "vue";
import {useCustomerStore} from "@/store/customerStore/customerStore";
import {useJwtStore} from "@/store/oauth2Store/JwtStore";

const props = defineProps(['login'])
const createNew = ref(false)

const loginCopy = ref({})
const logins = computed(() => props.login)

onMounted(async () => {
})

watch(logins, () => {
  loginCopy.value = {
    ...(props.login || {
      username: "",
      password: ""
    })
  }
}, {immediate: true})

const dialog = ref(false)

async function loginCustomer() {
  try {
    await useCustomerStore().loginCustomer(loginCopy);
    console.log("yoo");
    dialog.value = false;

  } catch (error) {
    console.log("error", error);
  }
}
</script>

<template>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Login
          </h1>
          <form class="space-y-4 md:space-y-6" @submit.prevent="loginCustomer">
            <div>
              <label for="username"
                     class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
              <input v-model="loginCopy.username" type="text" name="username" id="username"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     placeholder="Username" required="">
            </div>
            <div>
              <label for="username"
                     class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input v-model="loginCopy.password" type="password" name="password" id="password" placeholder="••••••••"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     required="">
            </div>
            <button type="submit"
                    class="w-full text-black bg-amber-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              Login
            </button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Join MarsRental and <a href="registrationPage"
                                     class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                                     @click="router.push('registrationPage')">Register now</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
