<template xmlns="http://www.w3.org/1999/html">

  <div class="container-fluid ">
    <section class="bg-gray-50 dark:bg-gray-900 ">
      <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <div
            class="w-full  bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md lg:m-9 xl:mx-2 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4  md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
              Sign up
            </h1>
            <form class="space-y-4 md:space-y-6" @submit.prevent="registrationCustomer">

              <div>
                <label for="firstName"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                <input v-model="registrationCopy.username" type="text" name="firstName" id="email"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="User123" required="">
              </div>
              <div>
                <label for="firstName"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Firstname</label>
                <input v-model="registrationCopy.firstName" type="text" name="firstName" id="email"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Max" required="">
              </div>
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lastname</label>
                <input v-model="registrationCopy.lastName" type="text" name="lastName" id="email"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Mustermann" required="">
              </div>
              <div>
                <label for="birthdate"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Birthday</label>
                <input v-model="registrationCopy.birthDate" type="date" name="birhtDate" id="email"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Geburtstag" required="">
              </div>
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                  Adress</label>
                <input v-model="registrationCopy.email" type="email" name="email" id="email"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="name@company.com" required="">
              </div>
              <div>
                <label for="phonenumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                  number</label>
                <input v-model="registrationCopy.phoneNumber" type="phonenumber" name="phonenumber" id="phonenumber"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="+43 664 1234567" required="">
              </div>
              <div>
                <label for="password"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input v-model="registrationCopy.password" type="password" name="password" id="password"
                       placeholder="••••••••"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required="">
              </div>
              <div>
                <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat
                  Passwort
                </label>
                <input v-model="registrationCopy.password" type="password" name="confirm-password" id="confirm-password"
                       placeholder="••••••••"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required="">

              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="terms" aria-describedby="terms" type="checkbox"
                         class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                         required="">
                </div>
                <div class="ml-3 text-sm">
                  <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a
                      class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="agbsPage"
                      target="_blank">Terms and
                    Conditions</a></label>
                </div>
              </div>
              <button type="submit"
                      class="w-full text-black bg-primary-600 bg-amber-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              >Sign up
              </button>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Already have an account? <a href="loginPage"
                                            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              >Login here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script setup>
import {router} from "@/router";
import {computed, ref, watch} from "vue";
import {useCustomerStore} from "@/store/customerStore/customerStore";

const props = defineProps(['registration'])

const registrationCopy = ref({})
const registrations = computed(() => props.registration)

watch(registrations, () => {
  registrationCopy.value = {
    ...(props.registration || {
      username: "",
      password: "",
      phoneNumber: "",
      birthDate: "",
      firstName: "",
      lastName: "",
      email: ""

    })
  }
}, {immediate: true})

const dialog = ref(false)

async function registrationCustomer() {
  await useCustomerStore().postCustomer(registrationCopy.value)
  await router.push('myAccount')
  dialog.value = false
}
</script>
