<template>


  <!-- Modal toggle -->


  <!-- Main modal -->


  <div class="block space-y-4 md:flex md:space-y-0 md:space-x-4">
    <!-- Modal toggle -->
    <button @click="redirectToPayment"
            class="block w-full md:w-auto text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
            type="button">
      Bestellen
    </button>


  </div>

</template>

<script setup>

import {useRouter} from "vue-router";
import {onMounted} from "vue";

const props = defineProps(['carId', 'rentData'])
const router = useRouter()

function redirectToPayment() {
  router.push({
    path: '/RentACarPagePayment',
    query: {
      carId: props.carId,
      ...props.rentData
    }
  })
}


</script>
