<script setup>

import {computed, onBeforeMount, onMounted} from "vue";
import {useContractStore} from "@/store/contractStore/contractStore";
import {useRoute} from "vue-router";
import {format} from "date-fns";
import {useCarStore} from "@/store/carStore/carStore";

const formatDate = date => {
  return format(new Date(date), 'MMMM d, yyyy')
}

const route = useRoute()
const contractId = computed(() => route.params.contractId)
const contract = computed(() => useContractStore().contractById)
const car = computed(() => useCarStore().carById)

onBeforeMount(async () => {
  await useCarStore().getCarById(contract.value.carId)
  await useContractStore().getContractById(contractId.value)

})


</script>


<template>
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Contract details -->
      <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-8">
        <div class="flex justify-between mb-4">
          <h2 class="text-xl font-bold text-gray-900 dark:text-white">
            Contract Details
          </h2>
          <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Edit
          </button>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Contract ID:</div>
          <div class="font-medium"> contract.contractId</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Rent Start Date:</div>
          <div class="font-medium"> formatDate(contract.rentStartDate)</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Rent End Date:</div>
          <div class="font-medium"> formatDate(contract.rentEndDate)</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Contract Date:</div>
          <div class="font-medium"> formatDate(contract.contractDate)</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Monthly Rate:</div>
          <div class="font-medium"> formatCurrency(contract.monthlyRate)</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Contract Term:</div>
          <div class="font-medium"> contract.contractTerm</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Car ID:</div>
          <div class="font-medium"> car.carId</div>
        </div>
      </div>

      <!-- Car details -->
      <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-8">
        <div class="flex justify-between mb-4">
          <h2 class="text-xl font-bold text-gray-900 dark:text-white">
            Car Details
          </h2>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Edit
          </button>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Brand:</div>
          <div class="font-medium"> car.brand</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Model Name:</div>
          <div class="font-medium"> car.modelName</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Mileage:</div>
          <div class="font-medium"> formatNumber(car.mileage) km</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Fuel Type:</div>
          <div class="font-medium"> car.fuelType</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Fin Number:</div>
          <div class="font-medium"> car.finNumber</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">When Bought:</div>
          <div class="font-medium"> formatDate(car.whenBought)</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Build Date:</div>
          <div class="font-medium"> formatDate(car.buildDate)</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">KW:</div>
          <div class="font-medium"> car.kw</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Contract Term:</div>
          <div class="font-medium"> car.contractTerm</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Monthly Rate:</div>
          <div class="font-medium"> formatCurrency(car.monthlyRate)</div>
        </div>
        <div class="flex justify-between mb-4">
          <div class="text-gray-700 dark:text-gray-400">Car Properties:</div>
          <div class="font-medium"> car.carProperties.join(', ')</div>
        </div>
      </div>
    </div>
  </div>
</template>


<style scoped>

</style>
