<template>
  <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <div v-for="(contract, index) in contracts" :key="index"
         class="rounded-lg shadow-md overflow-hidden border border-gray-200 dark:border-gray-700">
      <div class="bg-white dark:bg-gray-800">
        <div class="px-6 py-4">
          <h2 class="text-xl font-bold text-gray-900 dark:text-white mb-2">{{ contract.contractId }}</h2>
          <p class="text-gray-700 dark:text-gray-400 text-base mb-2">
            {{ "start of Contract Term : \n" + formatDate(contract.contractDate) }}</p>
          <div class="flex justify-between items-center mb-2">
            <div class="flex items-center grid">

              <p class="text-gray-700 dark:text-gray-400 text-base">{{ contract.contractTerm + " rutime" }}</p>
              <p class="text-gray-700 dark:text-gray-400 text-base font-medium">{{
                  contract.monthlyRate + "€/Interval"
                }}</p>
            </div>
          </div>
          <div class="flex items-center">
            <div class="w-2 h-2 rounded-full mr-2"
                 :class="{'bg-green-500': contract.isActive, 'bg-red-500': !contract.isActive}"></div>
            <p class="text-gray-700 dark:text-gray-400 text-base ">{{
                contract.isActive ? 'Active' : 'Inactive'
              }}</p>
          </div>
        </div>
        <div class="bg-gray-100 dark:bg-gray-700 px-6 py-3 flex justify-end">
          <router-link :to="{ name: 'contract', params: { contractId: contract.contractId } }"
                       class="text-gray-800 dark:text-white hover:text-gray-600 font-medium">
            View Contract
          </router-link>

        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {computed, onMounted} from "vue";
import {useContractStore} from "@/store/contractStore/contractStore";
import {format} from "date-fns";
import {router} from "@/router";
import {useCarStore} from "@/store/carStore/carStore";

onMounted(async () => {
  await useContractStore().getAllContracts()
  await useCarStore().getCarsInList()
})

const formatDate = date => {
  return format(new Date(date), 'MMMM d, yyyy')
}


const contracts = computed(() => useContractStore().allContracts)

</script>

<style scoped>

</style>