<template>

  <div class="mx-auto px-12 py-8 dark:bg-gray-700">
    <div class="flex -mx-4 container mx-auto">
      <!-- Properties column -->
      <div class="w-2/3 px-4">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-8">
          <router-view></router-view>
        </div>
      </div>

      <div class="w-1/3 px-4">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-8">
          <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">
            My Data
          </h2>
          <ul>
            <li class="py-2" @click="router.push({name:'personal-data'})">
              <a href="#" class="text-gray-900 dark:text-white hover:text-gray-700 font-medium">
                Personal Data
              </a>
            </li>
            <li class="py-2" @click="router.push({name:'email'})">
              <a href="#" class="text-gray-900 dark:text-white hover:text-gray-700 font-medium">
                E-Mail
              </a>
            </li>
            <li class="py-2" @click="router.push({name:'change-password'})">
              <a href="#" class="text-gray-900 dark:text-white hover:text-gray-700 font-medium">
                Change Password
              </a>
            </li>
            <li class="py-2" @click="router.push({name:'address'})">
              <a href="#" class="text-gray-900 dark:text-white hover:text-gray-700 font-medium">
                Address
              </a>
            </li>
            <li class="py-2" @click="router.push({name:'contracts'})">
              <a href="#" class="text-gray-900 dark:text-white hover:text-gray-700 font-medium">
                Contracts
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {useCustomerStore} from "@/store/customerStore/customerStore";
import {computed, onMounted, ref, watch} from "vue";
import Address from "@/components/account/Address.vue";
import ChangePassword from "@/components/account/ChangePassword.vue";
import Email from "@/components/account/Email.vue";
import PersonalData from "@/components/account/PersonalData.vue";
import {router} from "@/router";


onMounted(async () => {
  await useCustomerStore().getCustomer();
  await router.push({name: "personal-data"})
})
const props = defineProps(['customer'])
const customerCopy = ref()
const customers = computed(() => useCustomerStore().customer)

watch(customers, () => {
  customerCopy.value = {
    ...(customers.value[2] || {
      firstName: "",
      lastName: "",
      email: "",
      address: ""
    })
  }
}, {immediate: true})

const dialog = ref(false)

function edit() {
  useCustomerStore().putCustomer(customerCopy.value)
  dialog.value = false
}
</script>

<style>

</style>