<template>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="bg-[url('src/assets/background/Adventure_pexels-dominique-müller-4880888.jpg')]">
      <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
              Fill out
            </h1>
            <form class="space-y-4 md:space-y-6" action="#">
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pick-up and
                  drop-off
                  location</label>
                <div>
                  <select id="category" v-model="location"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500">
                    <option selected="" class="font-extrabold">Select location</option>
                    <option value="AT">Austria - Vienna</option>
                    <option value="DE">Germany - Berlin</option>
                    <option value="JP">Japan - Osaka</option>
                    <option value="US">USA - New York</option>
                    <option value="PE">Peru - Lima</option>
                    <option value="CG">Congo - Brazzaville</option>
                  </select>
                </div>
              </div>
              <hr>
              <div>
                <label for="pickupdate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pick-up
                  date</label>
                <input type="date" name="pickupdate" id="pickupdate" v-model="pickUpDate"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
                       placeholder="Pick-up date" required="">
              </div>
              <div>
                <label for="dropoffdate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Drop-off
                  date</label>
                <input type="date" name="dropoffdate" id="dropoffdate" v-model="dropOffDate"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500  dark:focus:border-amber-500"
                       placeholder="Drop-off date" required="">
              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="terms" aria-describedby="terms" type="checkbox"
                         class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-amber-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-amber-600 dark:ring-offset-gray-800"
                         required="">
                </div>
                <div class="ml-3 text-sm">
                  <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a
                      class="font-medium text-gray-900 hover:underline dark:text-amber-500" href="agbsPage"
                      target="_blank">Terms and Conditions</a></label>
                </div>
              </div>
              <!--            Nächste Form (zahlungsmethode und sum?)-->
              <!--   Es fehlt die Verlinkung         -->
              <button @click="redirectToCarSelect" type="button"
                      class="uppercase px-5 py-3 text-base text-amber-500 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium inline-flex items-center justify-center text-bold font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 md:hover:text-orange-500 border border-gray-300 rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:border-gray-700 dark:hover:amber-500 dark:focus:ring-gray-800">
                Next Page
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import {ref} from "vue";
import {useRouter} from "vue-router";

const location = ref("")
const pickUpDate = ref("")
const dropOffDate = ref("")
const router = useRouter()

function redirectToCarSelect() {
  router.push({
    path: '/carContract',
    query: {
      location: location.value,
      pickUpDate: pickUpDate.value,
      dropOffDate: dropOffDate.value
    }
  })
}
</script>




