<template>
  <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">The brands</h2>
    <p class="font-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-400">Attention! ⛔</p>
    <p class="font-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-400">Extra costs are not included in the
      price.</p>
    <p class="font-light text-gray-500 lg:mb-6 sm:text-xl dark:text-gray-400">Car models may differ from the
      picture.</p>
  </div>
</template>

