<template>
  <section id="derMarsmensch" class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
          A Car Renting System from another Planet
        </h1>
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">From
          choosing your favorite car to picking it up. With MarsRental everything is done from your smartphone. Life
          is precious, why waste it with unnecessary queues? Better to spend time with family or friends on an
          adventure.</p>
        <a href="#"
           class="inline-flex items-center justify-center px-5 py-3 text-base text-amber-700 text-bold font-medium text-center text-gray-900 md:hover:text-orange-500 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
           @click="router.push('registrationPage')">Sign Up now
        </a>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <img src="src/assets/img/Marsian_small_pexels-t-leish-5259407.jpg" class="rounded-r-3xl"
             alt="Hitchhiker to Mars">
      </div>
    </div>
  </section>
</template>

<script setup>
import {router} from "@/router";
</script>
