<template>
  <header class="text-gray-700">
    <nav class="bg-white border-gray-150 px-2 sm:px-2 md:px-4 lg:px-6 py-2.5 dark:bg-gray-900">
      <div class="container flex flex-wrap items-center text-center justify-center mx-auto">
        <a href="#" @click="router.push({name: 'landingpage'})" class="flex items-center ">
          <img src="src/assets/logo.png" class="h-6 mr-3 sm:h-9 rounded-full" alt="MarsRental Logo"/>
          <span class="self-center text-xl font-bold whitespace-nowrap">MarsRental</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <router-link
                  class="block py-2 pl-3 pr-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 text-base md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  :to="{ name:'landingpage', hash: '#derMarsmensch' }">Marsian
              </router-link>
            </li>
            <li>
              <router-link
                  class="block py-2 pl-3 pr-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 text-base md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  :to="{ name:'landingpage', hash: '#derShowroom' }">Showroom
              </router-link>
            </li>
            <li>
              <router-link
                  class="block py-2 pl-3 pr-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 text-base md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  :to="{ name:'landingpage', hash: '#diePreise' }">Price
              </router-link>
            </li>
            <li>
              <router-link
                  class="block py-2 pl-3 pr-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 text-base md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  :to="{ name:'landingpage', hash: '#derService' }">Service
              </router-link>
            </li>
            <li>
              <router-link
                  class="block py-2 pl-3 pr-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 text-base md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  :to="{ name:'landingpage', hash: '#dieTestimonials' }">Testimonials
              </router-link>
            </li>
            <li class="mr-3">
              <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                      class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                MarsRental
                <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
              </button>
            </li>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar"
                 class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                <li>
                  <a href="#" @click="router.push({name: 'cars'})"
                     class="block py-2 pl-3 pr-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 text-base md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Fleet</a>
                </li>
                <li>
                  <a href="#" @click="router.push({name:'ContactPage'})"
                     class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                    Contact</a>
                </li>
                <li>
                  <a href="#" @click="router.push({name:'FAQsPage'})"
                     class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                    FAQ</a>
                </li>
              </ul>
              <div class="py-1">
                <a href="#" @click="router.push({name:'impressumPage'})"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">
                  Imprint</a>
                <a href="#" @click="router.push({name:'datenschutzPage'})"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">
                  Privacy Policy</a>
                <a href="#" @click="router.push({name:'agbsPage'})"
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">
                  Terms and Condition</a>
              </div>
            </div>
            <li v-if="auth">
              <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
                      data-dropdown-delay=20
                      class="text-white bg-red-700 hover:bg-red-600  font-medium rounded-l text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 "
                      type="button" @click="isUserButtonVisible = !isUserButtonVisible">
                <p v-if="myUserInfo.sub">
                  {{ myUserInfo.sub }}
                </p>
                <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <!-- Dropdown menu -->
              <div id="dropdownHover"
                   class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                  <div class="font-medium truncate">{{ myUserInfo.email }}</div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                  <li @click="router.push({name: 'myAccount'})">
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Account</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                  </li>
                </ul>
                <div class="py-2">
                  <a @click="useJwtStore().revokeToken" href="#"
                     class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                    Logout
                  </a>
                </div>
              </div>
            </li>
            <!--            Login entfernen?-->
            <div v-if="!auth">
              <div>
                <a
                    class="cursor-pointer block py-2 pl-3 pr-3 text-red-700 rounded hover:bg-red-500 md:hover:bg-transparent md:border-0 md:hover:text-red-500 text-base md:p-0 dark:text-amber-400 md:dark:hover:text-red-200 dark:hover:bg-amber-200 dark:hover:text-red-200 md:dark:hover:bg-transparent"
                    @click="useJwtStore().initiatePKCEFlow">Login</a>
              </div>
            </div>
            <div v-if="!auth">
              <div>
                <a class="cursor-pointer block py-2 pl-3 pr-3 text-amber-700 font-extrabold rounded hover:bg-amber-300 md:hover:bg-transparent md:border-0 md:hover:text-amber-500 text-base md:p-0 dark:text-amber-400 md:dark:hover:text-amber-300 dark:hover:bg-gray-700 dark:hover:text-amber-300 md:dark:hover:bg-transparent"
                   @click="router.push({name:'registrationPage'})">Sign Up</a>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script setup>
import {router} from "@/router";
import {useJwtStore} from "@/store/oauth2Store/JwtStore";
import {computed, onMounted, ref, watchEffect} from "vue";
import axios from "axios";

onMounted(async () => {
  await useJwtStore().getOpenIdConfig()
})
const auth = computed(() => !!sessionStorage.getItem("access_token"))
const myUserInfo = computed(() => useJwtStore().userInfo)
const username = computed(() => useJwtStore().username)
// window.addEventListener("beforeunload", async (e) => {
//   if (sessionStorage.getItem("access_token") && sessionStorage.getItem("expires_in") <= Date.now() ){
//     e.preventDefault()
//     await useJwtStore().revokeToken()
//   }
// })

if (sessionStorage.getItem("access_token")) {
  axios.defaults.headers.common['Authorization'] = sessionStorage.getItem("access_token")
}

if (auth) {
  useJwtStore().getUserInfo()
}
</script>

<style scoped>
li {
  margin-top: auto;
  margin-bottom: auto;
}
</style>
