<template>
  <section id="diePreise" class="bg-white dark:bg-gray-900 ">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">Price</h2>
        <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Please note that the prices are based on
          one day rental and no extra costs are included.</p>
      </div>
      <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
        <!-- Pricing Card 1-->
        <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
          <!--        Card mit Image and small Animation-->
          <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#diePreise"></a>
            <img class="xl:hover:animate-pulse rounded-t-lg bg-center object-cover h-48 w-96"
                 src="src/assets/img/MINI_card_pexels-mike-b-4014137.jpg" alt="Miniklasse Auto"/>
          </div>
          <h3 class="mb-4 text-2xl font-semibold">Mini</h3>
          <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Best option for Single City Adventurers</p>
          <div class="flex justify-center items-baseline my-8">
            <span class="mr-2 text-5xl font-extrabold">from €39</span>
            <span class="text-gray-500 dark:text-gray-400">/day</span>
          </div>
          <a href="#" @click="router.push('cars')"
             class="uppercase px-5 py-3 text-base text-amber-500 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium inline-flex items-center justify-center text-bold font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 md:hover:text-orange-500 border border-gray-300 rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Let´s
            Go</a>
        </div>
        <!-- Pricing Card 2-->
        <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
          <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="xl:hover:animate-pulse rounded-t-lg bg-center object-cover h-48 w-96"
                 src="src/assets/img/COMPACT_card_pexels-esmihel-muhammad-15223535.jpg" alt="Kompaktklasse Auto"/>
          </div>
          <h3 class="mb-4 text-2xl font-semibold">Standardclass</h3>
          <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">For a trip to the Heurige with friends.</p>
          <div class="flex justify-center items-baseline my-8">
            <span class="mr-2 text-5xl font-extrabold">from €59</span>
            <span class="text-gray-500 dark:text-gray-400">/day</span>
          </div>
          <a href="#" @click="router.push('standartCars')"
             class="uppercase px-5 py-3 text-base text-amber-500 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium inline-flex items-center justify-center text-bold font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 md:hover:text-orange-500 border border-gray-300 rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Let´s
            Go</a>
        </div>
        <!-- Pricing Card 3-->
        <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
          <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="xl:hover:animate-pulse rounded-t-lg bg-center object-cover h-48 w-96"
                 src="src/assets/img/CABRIO_pexels-pixabay-210053.jpg" alt="Cabrioklasse Auto"/>
          </div>
          <h3 class="mb-4 text-2xl font-semibold">Cabrio</h3>
          <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">To sunbathe and move forward.</p>
          <div class="flex justify-center items-baseline my-8">
            <span class="mr-2 text-5xl font-extrabold">from €69</span>
            <span class="text-gray-500 dark:text-gray-400">/day</span>
          </div>
          <a href="#" @click="router.push('caprioCars')"
             class="uppercase px-5 py-3 text-base text-amber-500 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium inline-flex items-center justify-center text-bold font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 md:hover:text-orange-500 border border-gray-300 rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Let´s
            Go</a>
        </div>
        <!-- Pricing Card 4-->
        <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
          <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
              <img class="xl:hover:animate-pulse rounded-t-lg bg-center object-cover h-48 w-96"
                   src="src/assets/img/VAN_card_pexels-lucas-pezeta-2219433.jpg" alt="Kleinbusklasse Auto"/>
            </a>
          </div>
          <h3 class="mb-4 text-2xl font-semibold">Van</h3>
          <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">Answer the call of nostalgia. </p>
          <div class="flex justify-center items-baseline my-8">
            <span class="mr-2 text-5xl font-extrabold">from €89</span>
            <span class="text-gray-500 dark:text-gray-400">/day</span>
          </div>
          <a href="#" @click="router.push('ContactPage')"
             class="uppercase px-5 py-3 text-base text-amber-500 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium inline-flex items-center justify-center text-bold font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 md:hover:text-orange-500 border border-gray-300 rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">On
            demand</a>
        </div>
        <!-- Pricing Card 5-->
        <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
          <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="xl:hover:animate-pulse rounded-t-lg bg-center object-cover h-48 w-96"
                 src="src/assets/img/SUV_card_pexels-brett-sayles-1638459.jpg" alt="Geländewagenklasse Auto"/>
          </div>
          <h3 class="mb-4 text-2xl font-semibold">SUV</h3>
          <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">When lead runs through your veins.</p>
          <div class="flex justify-center items-baseline my-8">
            <span class="mr-2 text-5xl font-extrabold">from €119</span>
            <span class="text-gray-500 dark:text-gray-400">/day</span>
          </div>
          <a href="#" @click="router.push('ContactPage')"
             class="uppercase px-5 py-3 text-base text-amber-500 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium inline-flex items-center justify-center text-bold font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 md:hover:text-orange-500 border border-gray-300 rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">On
            demand</a>
        </div>
        <!-- Pricing Card 6-->
        <div
            class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
          <!--        Card mit Image special Animation-->
          <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="hover:animate-bounce rounded-t-lg bg-center object-cover h-48 w-96"
                 src="src/assets/img/LUXUS_card_pexels-jeffrey-paa-kwesi-opare-12997736.jpg" alt=""/>
          </div>
          <h3 class="mb-4 text-2xl font-semibold">Luxury</h3>
          <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">When money doesn´t matter.</p>
          <div class="flex justify-center items-baseline my-8">
            <span class="mr-2 text-5xl font-extrabold">€499</span>
            <span class="text-gray-500 dark:text-gray-400">/day</span>
          </div>
          <a href="#" @click="router.push('luxuryCars')"
             class="uppercase px-5 py-3 text-base text-amber-500 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium inline-flex items-center justify-center text-bold font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 md:hover:text-orange-500 border border-gray-300 rounded-lg text-sm px-5 py-2.5 text-center dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Let´s
            Go</a>
        </div>
      </div>
    </div>
  </section>
</template>
<script setup>
import {router} from "@/router";
</script>