<template>
  <section id="dieTestimonials" class="bg-white dark:bg-gray-900">
    <div class="py-4 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">
          Testimonials</h2>
        <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Your opinion is very important
          to us. Here is a small excerpt.</p>
      </div>
      <!--      Carousel -->
      <div id="default-carousel" class="relative" data-carousel="static">
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
          <!--         Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <p class="mb-4 font-weight-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-300">Longtime User:</p>
            <p class="mb-3 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">Gamma Hitch</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">"One morning, when Gregor
              Samsa woke from troubled dreams ❤️❤️❤️, he found himself transformed in his bed into a horrible
              vermin.</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">He lay on his armour-like
              back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by
              arches into stiff sections."</p>
          </div>
          <!--         Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <p class="mb-4 font-weight-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-300">Longtime
              Adventurer:</p>
            <p class="mb-3 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">Eta Stein:</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">"One morning, when Gregor
              Samsa 😝 woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">He lay on his armour-like
              back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by
              arches into stiff sections."</p>
          </div>
          <!--         Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <p class="mb-4 font-weight-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-300">Longtime shopper:</p>
            <p class="mb-3 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">Alpha Horst</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">"One morning, when Gregor
              Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">He lay on his armour-like
              back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by
              arches into stiff sections ⚽⚽⚽."</p>
          </div>
          <!--         Item 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <p class="mb-4 font-weight-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-300">Longtime Face:</p>
            <p class="mb-3 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">Delta Barns</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">"The bedding was hardly able
              to cover it and seemed ready to slide off any moment.</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">His many legs, pitifully thin
              compared with the size of the rest of him, waved about helplessly as he looked".</p>
          </div>
          <!--         Item 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <p class="mb-4 font-weight-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-300">Longtime customer:</p>
            <p class="mb-3 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">Karl Theta</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">"One morning, when Gregor
              Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">He lay on his armour-like
              back 🤩, and if he lifted his head a little he could see his brown belly, slightly domed and divided by
              arches into stiff sections."</p>
          </div>
          <!--         Item 6 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <p class="mb-4 font-weight-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-300">Longtime enjoyer:</p>
            <p class="mb-3 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">Josephine
              Kappa</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">"One morning, when Gregor
              Samsa woke from troubled dreams, he found himself transformed 🔥 in his bed into a horrible vermin.</p>
            <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">He lay on his armour-like
              back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by
              arches into stiff sections."</p>
          </div>
        </div>
        <button type="button"
                class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev>
        <span
            class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-800 sm:w-6 sm:h-6 dark:text-white" fill="none"
                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
        </button>
        <button type="button"
                class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next>
        <span
            class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-800 sm:w-6 sm:h-6 dark:text-white" fill="none"
                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
        </button>
        <div class="hidden duration-700 ease-in-out" v-for="rating in ratings" v-bind:key="rating.id"
             data-carousel-item>
          <p class="mb-4 font-weight-light text-gray-500 lg:mb-3 sm:text-xl dark:text-gray-300">Longtime User:</p>
          <p class="mb-3 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white hover">
            {{ rating.username }}</p>
          <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">{{ rating.feedbackText }}</p>
          <p class="font-light text-gray-500 lg:mb-6 lg:mx-8 sm:text-xl dark:text-white">He lay on his armour-like
            back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by
            arches into stiff sections."</p>
        </div>
      </div>

    </div>
  </section>
</template>

<script setup>
// import {watch} from "vue";
// import {computed, onMounted, ref} from "vue";
// import {useRatingStore} from "@/store/ratingStore/ratingStore";

// onMounted(async () => {
//   await useRatingStore().getRating();
// })
//
// const ratings = computed(() => useRatingStore().rating)
//
// const x = ref({});

// function getRating (rating) {
//   console.log("rating", rating.feedbackText)
//   x.value = rating;
// }

</script>