<script setup>
import {onMounted} from "vue";
import {useAddressStore} from "@/store/addressStore/addressStore";
import {useCarStore} from "@/store/carStore/carStore";
import {usecontract_paymentstatusStore} from "@/store/contract_paymentstatus/contract_paymentstatus";
import {useContractStore} from "@/store/contractStore/contractStore";
import {useEmployeeStore} from "@/store/employeeStore/employeeStore";
import {useMotorCarAccident} from "@/store/motorcarAccident/motorcarAccident";
import {useRatingStore} from "@/store/ratingStore/ratingStore";
import 'flowbite-datepicker';
import LayoutPage from "@/views/LayoutPage.vue";

// Unten: irgendeine Fehlermeldung
onMounted(
    async () =>{
      await useAddressStore().getAddress
      await useCarStore().getAllCars
      await usecontract_paymentstatusStore().getcontract_paymentstatus
      await useContractStore().getContract
      await useEmployeeStore().getEmployee
      await useMotorCarAccident().getMotorcarAccident
      await useRatingStore().getRating
    }
)


</script>


<template>
<LayoutPage/>
</template>

<style scoped>

</style>
