<template>
  <header class="text-gray-700">
    <navbar/>
  </header>
  <RouterView/>
  <section>
    <TheFooter/>
  </section>
</template>

<script setup>
// currentYear für die Zukunft?
// import {router} from "../router";
// import {onMounted} from "vue";
// const currentYear = new Date().getFullYear();
import Navbar from "../components/design/Navbar.vue";
import TheFooter from "../components/design/TheFooter.vue";
import {computed, onMounted} from "vue";
import {useJwtStore} from "@/store/oauth2Store/JwtStore";
// import {useRoute, useRouter} from "vue-router";
// import axios from "axios";

onMounted(async () => {
  if (!!sessionStorage.getItem("token_endpoint")) {
    try {
      await useJwtStore().getOpenIdConfig()
    } catch (e) {
      console.error(e)
    }
  }
})
</script>